<h2>Feed Me Photos</h2>

<%= form_with(model: @static_page, url: static_pages_path, method: :get) do |form| %>
  <%= form.label :photographer_id, "Flickr User Id:" %>
  <%= form.text_field :photographer_id %>
  <%= form.submit 'Submit', class: 'btn' %>
<% end %>


<div class="photo-container">
  <% if @photo_list.present? %>
    <% @photo_list.each do |photo| %>
      <div class="photo-frame"><%= image_tag "https://live.staticflickr.com/#{photo["server"]}/#{photo["id"]}_#{photo["secret"]}_n.jpg" %></div>
    <% end %>
  <% end %>
</div>




